.footer {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px;
}

body {
    color: white;
    font-weight: bold;
    font-size: large;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.nav1{
    background-color: #1a1a1a;
    padding: 10px;
}

.nav1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav1 li{
    display: inline;
}

.nav1 a{
    text-decoration: none;
    color: white;
    background-color: #1a1a1a;
    padding: 5px 15px;
    position: relative;
}

.nav1 a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: orange;
    transition: transform 0.2s ease-in-out;
}

.nav1 a:hover::after{
    transform: scaleX(1);
}
