/* .footer {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px;
}

body {
    color: white;
    font-weight: bold;
    font-size: large;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.nav1{
    background-color: #1a1a1a;
    padding: 10px;
}

.nav1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav1 li{
    display: inline;
}

.nav1 a{
    text-decoration: none;
    color: white;
    background-color: #1a1a1a;
    padding: 5px 15px;
    position: relative;
}

.nav1 a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: orange;
    transition: transform 0.2s ease-in-out;
}

.nav1 a:hover::after{
    transform: scaleX(1);
} */

body, html{
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.container{
    background: linear-gradient(135deg, #9406e7, #3107af);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 20px;
    max-width: 400px;
}

.content :hover{
    color: orange;
    cursor: pointer;
}

.photo{
    width: 150px;
    height: auto;
    border-radius: 20px;
}