.footer {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px;
}

body {
    color: white;
    font-weight: bold;
    font-size: large;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}
